{% extends "base.html" %}

{% block title %}KisanSetu - Home{% endblock %}

{% block content %}

<div class="container text-center py-5">

    <h1 class="display-4 fw-bold">
        KisanSetu
    </h1>

    <p class="lead">
        Dynamic Procurement Centre & Crowd Management
    </p>

    <p>
        Manage procurement slots, processing load and farmer queues
        efficiently.
    </p>

    <div class="mt-4">
        <a href="/login" class="btn btn-success btn-lg">
            Get Started
        </a>
    </div>

</div>

{% endblock %}